#root {
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0 0 0.5rem 0;
  width: 100%;
}

.nav-bar-left {
  display: flex;
  justify-content: flex-start;
  align-items: left;
  text-align: left;
  padding: 0 0 0 0.5rem;
}

.nav-bar-avatar {
  display: flex;
  justify-content: flex-end;
  align-items: right;
  text-align: right;
  padding: 0 0.5rem 0 0;
}

.loader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  left: 50%;
  top: 50%;
  width: 100%;
}

.circle-drower-inner {
  display: flex;
  justify-content: left;
  align-items: left;
  text-align: left;
  min-width: 250;
  width: 15vw;
}	

.circle-drower-inner > ul {
  width: 100%;
}	

.circle-drower-outer {
  background-image: none;
}

.css-iur3w5-MuiPaper-root-MuiDrawer-paper {
  background-image: none !important;
  padding: 1rem;
}

